<ion-content scrollX="false" scrollY="false">
    <ion-item>
      <ion-button
        fill="clear"
        style="text-transform: none; float: left; margin: 1px; font-size: 1em"
        (click)="onAddMoviesClick()"
      >
        <ion-icon
          name="add"
          slot="icon-only"
          color="medium"
        ></ion-icon> </ion-button
    ></ion-item>
    <ion-item class="search-header">
      <ion-input
        placeholder="Search"
        clearInput
        (keyup)="movieSearch($event)"
        type="text"
      ></ion-input>
      <ion-button fill="clear">
        <ion-icon name="search" slot="icon-only" color="medium"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
        <ion-col
          size="3"
          size-lg="3"
          size-md="3"
          size-sm="3"
          size-xl="3"
        >
          <ion-label>Title</ion-label>
        </ion-col>
        <ion-col size="2" size-lg="2" size-md="2" size-sm="2" size-xl="2">
          <ion-label>Genre</ion-label>
        </ion-col>
        <ion-col size="2" size-lg="2" size-md="2" size-sm="2" size-xl="2">
          <ion-label>Stock</ion-label>
        </ion-col>
        <ion-col size="2" size-lg="2" size-md="2" size-sm="2" size-xl="2">
          <ion-label>Rate</ion-label>
        </ion-col>
        <ion-col size="2" size-lg="2" size-md="2" size-sm="2" size-xl="2">
          <ion-label></ion-label>
        </ion-col>
        <ion-col size="2" size-lg="2" size-md="2" size-sm="2" size-xl="2">
          <ion-label></ion-label>
        </ion-col>
      </ion-item>
    <ion-content class="movies-div" scrollY="true">
      <ion-list>
        <ion-item *ngFor="let movie of movieList; let i = index">
          <ion-col
            size="3"
            size-lg="3"
            size-md="3"
            size-sm="3"
            size-xl="3"
          >
            <ion-label>{{ movie.title }}</ion-label>
          </ion-col>
          <ion-col size="2" size-lg="2" size-md="2" size-sm="2" size-xl="2">
            <ion-label>{{ movie.genre }}</ion-label>
          </ion-col>
          <ion-col size="2" size-lg="2" size-md="2" size-sm="2" size-xl="2">
            <ion-label>{{ movie.stock }}</ion-label>
          </ion-col>
          <ion-col size="2" size-lg="2" size-md="2" size-sm="2" size-xl="2">
            <ion-label>{{ movie.rate }}</ion-label>
          </ion-col>
          <ion-col size="1.5" size-lg="1.5" size-md="1.5" size-sm="1.5" size-xl="1.5">
            <ion-label *ngIf="!movie.like; else elseBlock"
              ><ion-icon
                name="heart-outline"
                style="cursor: pointer"
                (click)="onChangeLike(movie)"
              ></ion-icon
            ></ion-label>
            <ng-template #elseBlock>
              <ion-label style="cursor: pointer" (click)="onChangeLike(movie)"
                ><ion-icon name="heart"></ion-icon></ion-label
            ></ng-template>
          </ion-col>
          <ion-col size="2" size-lg="2" size-md="2" size-sm="2" size-xl="2">
            <ion-button
              color="danger"
              style="text-transform: none"
              (click)="onDeleteMovie(movie)"
              >Delete</ion-button
            >
          </ion-col>
        </ion-item>
      </ion-list>
      \ <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoviesData($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more movies..."> </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>
</ion-content>
