<div>
  <ion-list>
    <ion-item lines="none" class="title" style="padding: 0; margin: 45px 0 0 0">
      <ion-label class="titleName">Full Name</ion-label>
    </ion-item>
    <ion-row>
      <ion-label class="userName" style="margin-right: 40%">
        Full Name
      </ion-label>
      <ion-icon
        name="pencil-outline"
        class="userName"
        style="padding-top: 5px"
        color="medium"
      ></ion-icon>
      <ion-icon
        name="trash-outline"
        class="userName"
        style="padding-top: 5px"
        color="danger"
      ></ion-icon>
    </ion-row>
    <hr />
    <ion-item lines="none" class="title" style="padding: 0; margin: 45px 0 0 0">
      <ion-label class="titleName">Phone Number</ion-label>
      <ion-label class="titleName" style="margin-left: 22em">Email</ion-label>
    </ion-item>
    <ion-row>
      <ion-label class="userName" style="margin-right: 40%">
        (905)912-1234
      </ion-label>
      <ion-label class="userName"> Email@gamil.com </ion-label>
    </ion-row>
    <hr />
    <ion-item lines="none">
      <ion-label style="font-size: 1.3em; margin: 20px" class="w3-center">
        Customer Renting</ion-label
      ></ion-item
    >
    <ion-row style="height: 30em;text-align: center;" class="w3-center">
      <ion-col size='5'  offset-md='1'>
        <div class="card" style="width: 15rem; height:25em;margin-left: 10px">
          <div class="card-body">
            <h5 class="card-title">Transactions</h5>
            <p class="card-text" style="font-size: 3em;">
              10
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          
        </div>
      </ion-col>
      <ion-col size='5' >
        <div class="card" style="width: 15rem; height:25em; margin-left: 10px">
          <div class="card-body">
            <h5 class="card-title">Renting</h5>
            <p class="card-text" style="font-size: 3em;">
              4
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>
</div>
