.cardData {
    font-size: 15px;
}
.title_item {
    --ion-item-background:gray;
}

.oddRow{
   
     --ion-item-background: white;
}
.evenRow{
    --ion-item-background:	lightgray;
}

.customer-selected {
    --background: var(--highlight-color-focused);
    --ion-item-background:#3880ff;
    --ion-item-color:white;
    transition: 1s;
}