<ion-content>
  <ion-button (click)="closeModal()" fill="clear" style="float: right">
    <ion-icon name="close" style="color: black"></ion-icon>
  </ion-button>
  <ion-grid class="smallPadding">
    <ion-list>
      <ion-col>
        <ion-title style="font-size: 22px; padding: 0; margin: 15px"
          >Movie Form</ion-title
        >
        <form
          (submit)="logAddMovieForm()"
          [formGroup]="addMovieForm"
          style="padding: 0; margin: 0"
        >
          <ion-item>
            <ion-label class="fixedLabel w3-margin-right"><b>Title: </b></ion-label>
            <ion-input
              clearInput
              formControlName="title"
              required
              type="text"
              value="{{ title }}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="fixedLabel "><b>Genre: </b></ion-label>
            <select class="w3-margin-right genre-select" formControlName="genre" >
                    <option *ngFor="let g of genres" [value]="g.value" >{{g.name}}</option>
                  </select>
          </ion-item>
          <ion-item>
            <ion-label class=" fixedLabel w3-margin-right"><b>Stock: </b></ion-label>
            <ion-input
              clearInput
              formControlName="stock"
              required
              type="text"
              value="{{ stock }}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class=" fixedLabel w3-margin-right"><b>Rate: </b></ion-label>
            <ion-input
              clearInput
              formControlName="rate"
              required
              type="text"
              value="{{ rate }}"
            >
            </ion-input>
          </ion-item>
          <ion-button (click)="closeModal()" fill="clear" style="text-transform: none" color= "danger">Cancel</ion-button>
          <ion-button
            [disabled]="!addMovieForm.valid"
            fill="clear"
            type="submit"
            style="float: right; text-transform: none"
            >Add</ion-button
          >
        </form>
      </ion-col>
    </ion-list>
  </ion-grid>
</ion-content>
